@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/* Estilos para el header */

@media screen and (max-width: 768px) {
  .main-section__title {
    font-size: 48px;
  }

  .main-section__description {
    font-size: 20px;
  }

  .section__title {
    font-size: 32px;
  }

  .section__description {
    font-size: 18px;
  }
}
